@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --footer-back: white;
    --footer: grey;
  }

  .dark {
    --footer-back: #1F2937;
    --footer: var(--footer-back);
  }
}

.footer {
  background-color: var(--footer-back);
  /* gray-900 */
  color: var(--text);
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}

.footer-pattern {
  position: absolute;
  inset: 0;
  opacity: 0.1;
}

.footer-blur {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24rem;
  /* w-96 */
  height: 24rem;
  background-color: rgba(99, 102, 241, 0.3);
  /* bg-primary/30 */
  border-radius: 9999px;
  filter: blur(64px);
  /* blur-3xl */
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1rem;
}

.footer-description {
  color: #9ca3af;
  /* text-gray-400 */
  max-width: 28rem;
  margin-bottom: 1.5rem;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-icon {
  display: inline-flex;
  padding: 0.5rem;
  background-color: #1f2937;
  /* gray-800 */
  border-radius: 9999px;
  transition: color 0.3s;
}

.goyal {
  color: rgb(59, 130, 246);
  font-size: 1.5rem;
}

.footer-icon:hover {
  color: var(--footer);

}

.icon-size {
  height: 1.25rem;
  width: 1.25rem;
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-link {
  color: #9ca3af;
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--icon);
}

.footer-text {
  color: #9ca3af;
}